$primary_font_color : rgb(215, 235, 216);
$primary_background_color : linear-gradient(53deg, #43d3ae, #15b78d, #138164, #115241, #296a59, #4c9784, #4fbb9f, #33cca4, #32e87a, #1acc60, #0a9440, #076e30);
$black : #191919;
$white : #ffeeff;