.footer {
    @include positioning(relative, null, 50%, null, 0, -50%, 0 );
    
    width: calc( #{ map-get( map-get( $config, index-to-key(1) ), container-width ) } );
    height: calc( #{ map-get( map-get( $config, index-to-key(1) ), container-height ) } - 90% );

    text-align: center;
    padding: 3rem 0;
    font-size: 2rem;

    @include max-breaks(sm) {
        margin-top: 3rem;
        font-size: 1rem;
    }

}