// Positioning
@mixin translate-center($tx:null, $ty:null) {
    transform: translate($tx, $ty)
};

@mixin positioning($p:null, $t:null, $l:null, $r:null, $b:null, $x:null, $y:null) {
    position: $p;
    top : $t;
    left: $l;
    right : $r;
    bottom: $b;
    @include translate-center( $x, $y )
};