.searchbar {
    // padding: 1rem;
    @include positioning(relative, 0, 50%, null, null, -50%, 0);
    width: map-get( map-get( $config, index-to-key(1) ), container-width );
    height: calc( #{ map-get( map-get( $config, index-to-key(1) ), container-height ) } - 90% );
    
    &__search--form {

        width: 50%;
        @include positioning(absolute, 50%, 50%, null, null, -50%, -50%);

        text-align: left;

        &__field {
            background: transparent;
            padding: 1em;
            width: 70%;
            border: none;
            border-bottom: .1em solid $primary_font_color;
            outline: none;
            color: inherit;
            letter-spacing: .1em;
            transition: .5s;

            &:active, &:focus, &:hover {
                width: 80%;
            }

            &::placeholder {
                font-family: 'Megrim', cursive;
                color: inherit;
                font-weight: bold;
                letter-spacing: inherit;
            }

        }

        &__search__btn {
            background: transparent;
            border: none;
            padding: 1em;
            color: inherit;
            font-weight: bold;
            font-family: inherit;
            width: 10%;
            outline: none;
            transform: scale(1.8);
            transition: .7s all;
            text-shadow: .5em .5em 1em $black;
            letter-spacing: .1em;
            
            &:active {
                transform: scale(1);
                text-shadow: .1em .1em .1em $black;
            }

            &:hover {
                transform: scale(1.3);
                cursor: pointer;
                text-shadow: .1em .1em .1em $black;
            }

            @include max-breaks(sm) {
                padding: 1em;
                transform: scale(1);
            }

        }

        @include max-breaks(sm) {
            width: 95%;
        }
    }

    @include max-breaks(sm) {
        margin-top: 1rem;
        width: 95%;
    }

}